h1{
    color: blueviolet;
}
   .parent{
    height: 1000;
    border: 4px dotted blue;
    background-color: aqua;
    border: 4px;
    margin: 30px;
    padding: 60px;
    margin-top: auto;
   } 
   .parent .child p{
    background-color:black;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   h2{
    color: rgb(100, 100,99);
}
p{
    color: rgb(99, 136, 136);
}